__pycache__
*.pyc

.git_tmp
.git_temp

toolkit/training/pretrained_models/Diffusion_Transformer/*
toolkit/training/pretrained_models/Motion_Module/*
toolkit/training/output_*
toolkit/training/video_output*
toolkit/training/full_video_output*
toolkit/evaluation/vbench_models.tar.gz
toolkit/evaluation/vbench_models/
toolkit/evaluation/evaluation_results*

input
output
output*
solution/tarsier/weights
*.log
*.pth

!.gitkeep
